<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Add your CSS styles or link to an external stylesheet if needed -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
        }

        form {
            max-width: 300px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

    </style>
</head>
<body>
    <h1>Login to the Chat Application</h1>

    <% if (typeof(message) !== "undefined") { %>
        <p style="color: rgb(173, 13, 13); font-size: 25px;"><%= message %></p>
    <% } %>

    <form method="post" action="">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Enter Your Email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" required>

        <input type="submit" value="Login">
    </form>
</body>
</html>
